.blog-wrapper
  margin-top: -128px
  .blog-card
    min-height: auto
    margin-bottom: 35px

    &.mdl-card
      width: auto

    > .mdl-card__supporting-text
      width: 100%
      > .mdl-card__title-text
        margin-bottom: 15px
        a
          color: #000

    > .mdl-card__actions
      .read-more-btn
        margin-top: 2px

    .author-avatar, .author-info
      float: right

    .author-avatar
      margin-left: 15px

    .author-info > a
      color: #757575
      font-size: 13px
